$deepBlue : #2D3047;
$deepGreen: #28614A;
$lightGreen:#419D78;
$lightPurple: #959CC4;

.h4,h4{
    font-size: 18px !important;
    font-weight: bolder;
    text-transform: uppercase;
}

.App {
    .home{
        background-image: url('./images/backgroundImage.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 70% 50%;
        font-family:Microsoft JhengHei;
        height: calc(100vh - 60px);
    }   
    .topArea{
       .navbar{
        justify-content: center;
        } 
    }
    
}

.nav-link{
    color: $deepBlue;
    font-weight: bolder;
    margin: 0 10px;
    img{
        padding: 0 5px;
    }
}

span.hotTag{
    background-color: red;
    border-radius: 50px;
    color: white;
    font-size: 12px;
    font-weight: bolder;
    margin-right: 10px;
    padding: 3px 7px 5px;
}

a.linkButton{
    color: white;
    button{
        background-color: $lightGreen !important;
        border: none;
        border-radius: 0px;
        padding: 1px 14px 4px;  
        &:hover{
            // color: $deepGreen !important;
            text-decoration: none;
        }
    }
}

.priceRow{
    color: $deepBlue;
    font-size: 32px;
    justify-content: flex-end;
    margin-bottom: 40px;
    position: relative;
    span{
        background-color: $lightPurple;
        display: block;
        height: 5px;
        position: absolute;
        bottom: 4px;
        width: 280px;
        z-index: -1;
    }
}

.innerPage,.reservationDetail{
    min-height: calc(100vh - 60px); 
    .header{
        background-color: $deepBlue;
        .navbar{
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
            .nav-link{
                color: rgba($color: #FFFFFF, $alpha: .5);
                &:hover{
                    color: white;
                }
            }
        }
        .logoImage{
            background: url('./images/logo.png') no-repeat;
            background-position: -215px -83px;
            border-radius: 10px;
            height: 47px;
            width: 166px;
            background-size: 600px;   
        }
    }
}


.innerPage{
    .content{
        >.row{
            margin:30px 0;
        }
        .firstRow{
            .col{
                &:nth-child(1) > .row > .col{
                    display:flex;
                    align-items: center;
                }
                &:nth-child(2){
                    padding-right: 0;
                    text-align: right;
                }
            }
        }
        .firstRow.row{
            margin:40px 0 20px;
        }

        .roomsRow{
            flex-wrap: nowrap !important;
            margin: 30px 0;
            .col-7{
                height: 515px;
                overflow: hidden;
            }
            .col-5{
                .row{
                    height: 250px;
                    overflow: hidden;
                    &:nth-child(1){
                        margin-bottom: 15px;
                    }
                }
            }
        }

        .selectRow,.datepickerRow{
            text-align: right;
            .row{
                align-items: center;
            }
            .col-5,.col-7{
                padding: 0;
                padding-right: 5px;
            }
        }
        .detailRow{
            border-left:2px solid $deepBlue;
            padding-left: 5px;
            div{
                margin:5px 0;
            }
        }

        .describeRow{
            .row{
                margin-bottom: 30px;
            }
            .checkInProgress{
                font-size: 12px;
                .checkInear,.checkInlate{
                    bottom:25px;
                    border: 1px solid black;
                    // left: 0px;
                    position: absolute;
                    &:after{
                        content:"";
                        border-top: 5px solid black;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        left: 10px;
                        position: absolute;
                        top: 18px;
                    }
                }
                .checkInlate{
                    left: 60px;
                }
                .progress-bar{
                    &:nth-child(1),&:nth-child(3){
                        background-color: #DCDCDC;
                    }
                    &:nth-child(2){
                        background-color: $lightGreen;
                    }
                }
            }
    
            .checkOutProgress{
                font-size: 12px;
                #checkOut{
                    bottom:25px;
                    border: 1px solid black;
                    // left: 220px;
                    position: absolute;
                    &:after{
                        content:"";
                        border-top: 5px solid black;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        left: 10px;
                        position: absolute;
                        top: 18px;
                    }
                }
                .progress-bar{
                    &:nth-child(1){
                        background-color: $lightPurple ;
                    }
                    &:nth-child(2){
                        background-color: #DCDCDC;
                    }
                }
            }

            .card{
                background-color: $deepBlue;
                color: white;
                font-size: 12px;
            }
        }
    }
}

.reservationDetail{
    .content{
        &_title{
            margin: 20px 0;
        }
        .firstRow{
            border: 1px solid $deepBlue;
            max-height: 300px;
            overflow: hidden;
            .row{
                margin: 0 !important;
            }
            >.col-7,.col-5{
                padding: 0;
                margin: 0;
            }
            >.col-5{
                border-right: 1px solid $deepBlue;
            }
            &_title{
                background-color: $deepBlue;
                color: white;
                padding: 10px 5px 10px 10px;
                .col-3{
                    text-align: right;
                }
            }
            &_detail{
                >.col{
                    >.row{
                        margin: 15px 5px !important;
                    }
                }
                .noBreakfast{
                    color: red;
                    font-weight: bold;
                }
                &_price{
                    position: relative;
                    .priceRow{
                        bottom: 0px;
                        right: 5px;
                        position: absolute;
                    }
                }
            }
        }
        
        form{
            border: 1px solid $deepBlue;
            margin: 100px 0;
            padding: 20px 30px 20px 80px;
            position: relative;
            .reservationTag{
                background-color: $deepBlue;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                color: white;
                left: 0;
                padding: 10px 20px;
                position: absolute;
                top: -45px;
            }
            .extraService{
                border-bottom: 3px solid $lightGreen;
                color: $lightGreen;
                margin: 10px -10px;
                padding-bottom: 5px; 
            }
            .radioGroup{
                color: $lightGreen;
                .form-check{
                    margin: 5px 0;
                }
            }
            .linkButton{
                bottom: 20px;
                text-align: right;
                position: absolute;
                right: 30px;
            }
        }
    }
}

.topArea .content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 100px;
    img{
        width: 100%;
        vertical-align: middle;
    }
    .logoImage{
        background: url('./images/logo.png') no-repeat;
        background-position: -534px -203px;
        border-radius: 10px;
        height: 98px;
        margin: 50px auto;
        width: 351px;
    }
    .roomsTitle{
        background-color: $deepBlue;
        color: white;
        justify-content: center;
        margin: 0px auto;
        padding: 5px 0;
    }
    .rooms{
        .col-4{
            height: 120px;
            margin: 10px 0;
            min-width: 200px;
            overflow: hidden;
            a:hover{
                text-decoration: none;
            }
            img{
                box-shadow: 1px 1px 7px 0px #737577
                
            }
            &:hover .roomsCover{
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &:hover img{
                display: none;
            }
            .roomsCover{
                background-color: $deepGreen;
                cursor: pointer;
                display: none;
                font-family:monospace;
                height: 100%;
                
                h4{
                    color: white;
                }
                p{
                    color: $lightGreen;
                }
                span{
                    background-color: white;
                    border-radius: 10px;
                    color: $deepBlue;
                    padding: 0 10px;
                }
            }

            &:not(:nth-child(2)):not(:nth-child(5)){
                img{
                    transform: translate(0,-52%);
                }
                .roomsCover{
                    transform: translate(0,0);
                }
            }
        
        }
    }
}

.footer{
    align-items: center;
    color: rgba($color: #FFFFFF, $alpha: .5);
    background-color: $deepBlue;
    display: flex;
    font-size: 12px;
    height: 60px;
    text-align: center;
    .container-fluid{
        margin: 0 15px 0 75px;
        .row{
            align-items: center;
        }
        .langRow{
            margin: 0 60px;
            .col{
                cursor: pointer;
                &:not(:last-child){
                    border-right: 2px solid rgba($color: #FFFFFF, $alpha: .5);
                }
                &:hover{
                    color: white;
                }
            }
        }
    }
}